* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 20% 25px ;
    border-bottom: solid 1px #000;
    background: white;

}

h1 {
    font-size: 40px;
}
.headSub {
    font-size: 18px;
}

select {
    width: 100%;
}
.filterBox {
    display: flex;
    gap: 50px;
}
.searchFlex {
    display: flex;
    gap: 10px;
}
.searchBtn {
    cursor: pointer;
}
main {
    padding: 250px 20% 50px;
}

footer {
    font-size: 12px;
    text-align: center;
}

/* 記事挿入後のスタイル */
.article {
    margin-bottom: 60px;
}
.title {
    font-size: 20px;
    font-weight: 600;
}

.flex {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.content {
    max-width: 800px;
    
    font-size: 16px;
    line-height: 1.6;
}